<main class="container">
    <form action="/registerUrl" class="form-group" method="POST">
       
            {{message}}
        <div class="form-inline">
            <input type="text" name="url" class="form-control col-md-6" placeholder="Set Your Url ">
             <input type="submit" class="btn btn-primary">
        </div>
       
    
    </form>
</main>
